{% load staticfiles %}
<html>
    <head>
        <title>Two Minute Reports Statistics</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
        <style>   
        }
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;

        }
        .header, .frame {
            text-align: center;
        }

        .header {
            background-color: rgb(250,131,32);
        }

        th {
            text-align: left
        }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Last Two Minute Reports Statistics</h1>
            <h3> 
                <a href={% url 'home' %}>
                    Home
                </a> 
            &nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url 'stats' %}>
                    Statistics Home Page
                </a> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url 'search' %}>
                    Search Tool
                </a> 
            </h3>
        </div>
        <div class="frame">
            <h1>Referee Statistics</h1>
            <table style="width:100%">
              <tr>
                <th>Referee Name</th>
                <th>Number of Incorrect Calls(IC)</th>
                <th>Number of Incorrect Non-Calls(INC)</th>
                <th>Total Incorrect Calls and Non-Calls</th>
                <th>Total Calls and Non-Calls</th>
                <th>Total Incorrect Percentage</th>
              </tr>
              {% for entry in stat1 %}
              <tr>
                <td>{{ entry.0 }}</td>
                <td>{{ entry.1 }}</td>
                <td>{{ entry.2 }}</td>
                <td>{{ entry.3 }}</td>
                <td>{{ entry.4 }}</td>
                <td>{{ entry.5|floatformat:3 }}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </body>
</html>